
label{
    font-weight:bold; color: black; font-family:georgia,garamond,serif;font-size:16px;font-style:italic;
}
.container{
    max-width: 90%;
}
.carousel-item img{
    height: 300px;
}

.carousel-caption{
    left: 0; bottom:10%; width: 100%; 
    height: 20%;
    background-color: black;
    opacity: 0.5;
    cursor: pointer;
    z-index: 5;
}

.carousel-head{
    position: absolute;
    left: 5%;
    top:0;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.carousel-content{
    position: relative;
    left: 10%;
    right: 10%;
    top:40%;
    font-weight: bold;
    color: white;
    font-size: 12px;
    text-align: left;
}


/* css for the cards */
.card img{
    height: 200px;
}

