
body {
  /* height: auto; */
  /* background: linear-gradient(#191919 0%, #131212 40%, #161616 70%, black 90%); */
  /* background: linear-gradient(#16171B 0%, #0e0f11 20%, #0e0f11 40%); */
  /* background-color: #16171B; */
  /* background-color: #191919; */
  /* background-color: #27292b; */
  background-color: black;
  
  
}

@media (min-width: 1200px) {
  .container{
  max-width: 1400px;
  }
}

.display-4{
  color: #F2F2F2;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  text-align: center;
}

#movie-star-rating{
  color: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
}

.category{
  color: #03D8A9;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.category-body {
  color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8vh;
}

a {
  color:#F2F2F2;
}

/* Movie Poster Size */
#movie-poster-image{
  height: 22vh;
  width: auto;
}

/* Container size for movie recommendations */
.recommendation-section {
  background-color: green;
  border-radius: 2%;
  padding: 15px; 
  left: 20px;;
  height: auto;
  width: fit-content;
}

.recommendation-card{
  width: 30vh;
  /*background-color: #27292b;*/
  background-color: red;
}

.card-body{
  display: inline;
}

/*Image of Movie Recommendation*/
#recommendation-img {
  top:0;
  left: 0;
  float: left;
  width: 15vh;
  height: auto;
  vertical-align: center;
}

/* Recomendation on Movie Page */
#rec {
  padding: 10px;
  border-radius: 2%;
  border-color: #F2F2F2;
  background-color: #27292b;
  margin: 0;
}

/* PAGNATION */
/* https://codepen.io/RRoberts/pen/jVOWEQ */

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #F2F2F2;
}

.p1 a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
}

.p1 a.is-active{
  background-color: #03D8A9;
  border-radius: 100%;
  color: #F2F2F2;
}

.fa {
  color: #F2F2F2;
}
.checked {
    color: orange;
}

/* _______ User review rating styling _______*/
div#reviewRating {
  border-style:solid;
  border-color:#03D8A9;
  background: #03D8A9;
  border-radius: 5%;
  color:black;
} 
h4#reviewRating {
  border-style:solid;
  border-color:#03D8A9;
  background: #03D8A9;
  border-radius: 5%;
  color:black;
} 

/*_______ Search page movie border styling _______ */
div#searchBorder {
   /* border-style: solid; */
   border: 1px solid rgba(var(--lightGrey), 1);
  /* border-color:#F2F2F2;  */
  box-shadow: 1px 2px 8px #444444;
  /* background: #03D8A9; */
  border-radius: 1%;
  width: 80%;
  display: flex;
  border-spacing: 15px;
  
  align-content: center;
  align-items: center;
  /*  padding: 10px 15px; */
  display: flex;
} 

/* _______ href Link colours _______*/

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #03D8A9;
}

/* selected link */
a:active {
  color: #03D8A9;
}

/* _______ Search page dropdown sort _______*/

#dropdown {
  background-color: #6C757D;
  color: white;
  padding: 6px;
  border: none;
  cursor: pointer;
}

/* _______ star rating styling _______ */

div.rating {
  float: left;
}

input.star {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
  float: right;
  color: #C8C8C8;
}

label.star {
  position: relative;
  float: right;
  color: #C8C8C8;
}

label.star:before {
  margin: 1px;
  /* content: "\f005"; */
  content: '\2605';
  font-family: FontAwesome;
  font-size: 2em;
  color: var(--accent-color);
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

input.star:checked ~ label.star:before {
  content: '\2605';
  color: #FFC107;
}

label.star:hover ~ label.star:before {
  color: #ffdb70;
  
}

label.star:hover:before {
  color: #FFC107;
}

